.root {
    padding: 0;
    margin: 8px 0;
}
.labelWrapper::after {
    content: '';
    display: block;
    clear: both;
}
.input {
    width: 0;
    height: 0;
    margin: 0;
    opacity: 0;
}
.label {
    float: left;
    margin: 0;
    line-height: 20px;
    font-size: 12px;
    color: #A5A5A5;
    cursor: pointer;
    user-select: none;
}
.label::before {
    content: '';
    float: left;
    width: 18px;
    height: 18px;
    border: transparent 1px solid;
    border-radius: 50%;
    margin-right: 4px;
    background: url("./icons/check-inactive.svg") no-repeat center;
}
.input:focus + .label {
    outline: none;
}
.input:focus + .label::before {
    border-color: #356A9E;
}
.input:checked + .label::before {
    background: url("./icons/check-active.svg") no-repeat center;
}
.input:disabled + .label {
    opacity: .5;
    cursor: default;
}
