.root {
	position: relative;
}

.floating {
	position: absolute;
	right: 3px;
	top: 3px;
	bottom: 2px;
	z-index: 1;
}

.controls {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	position: sticky;
	top: 0;
	padding: 2px 6px;
	border-radius: 2px;
	background: var(--color-bg-overlay);
}

.status {
	margin-right: 12px;
	padding-right: 6px;
	border-right: var(--color-brd-main) 1px solid;
	cursor: pointer;
}

.validStatus {
	color: var(--color-content-accent);
}

.invalidStatus {
	color: var(--color-content-dangerous);
}

.editor {
	min-height: inherit;
	max-height: inherit;
}

.editor :global(.cm-editor) {
	min-height: inherit;
	max-height: inherit;
	border: transparent 1px solid;
	border-radius: 2px;
	background: var(--color-bg-main);

	&:global(.cm-focused) {
		border-color: var(--color-focus);
		outline: none;
	}
}

.editor :global(.cm-scroller) {
	max-height: 400px;
	border-top-right-radius: 2px;
	border-bottom-right-radius: 2px;
	overflow-y: auto;
}

.editor :global(.cm-gutters) {
	border-top-left-radius: 2px;
	border-bottom-left-radius: 2px;
}
