.root {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	position: relative;
	box-sizing: border-box;
	height: 64px;
	padding: 12px 16px;
	cursor: pointer;
	user-select: none;
}

.filler {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	border: 1px dashed var(--color-brd-strong);
	border-radius: 3px;
}

.input {
	position: absolute;
	top: 0;
	bottom: 0;
	width: 100%;
	opacity: 0;
	z-index: 1;
}

.input:focus ~ .filler {
	border-color: var(--color-focus);
}

.title {
	line-height: 18px;
	color: var(--color-placeholder);
}

.value {
	max-width: 300px;
	overflow: hidden;
	line-height: 18px;
	white-space: nowrap;
	text-overflow: ellipsis;
	color: var(--color-content);
}

.note {
	line-height: 18px;
	font-size: 11px;
	color: var(--color-main);
}
