.root {
	display: flex;
	height: 28px;
	align-items: center;
	padding: 1px 6px 0 8px;
	border-bottom: var(--color-brd-main) 1px solid;
	background: var(--color-bg-light);
}

.title {
	color: var(--color-main);
	flex-grow: 1;
	flex-shrink: 1;
	overflow: hidden;
	text-overflow: ellipsis;
	font-size: 12px;
}
