.root {
	display: flex;
	flex-direction: column;
	height: 100%;
}

.header {
	min-width: 200px;
	padding: 4px 8px 4px 8px;
	font-size: 12px;
	overflow: hidden;
	text-overflow: ellipsis;
	word-break: break-word;
}

.headerTitle {
	padding-right: 6px;
	font-weight: 700;
}

.headerData {
	color: #d5d5d5; /* TODO to vars*/
}

.body {
	flex-grow: 1;
	padding: 8px 0;
	overflow: auto;
}
