.root {
	display: flex;
	align-items: center;
	height: 30px;
	padding: 1px 6px 0 4px;
	box-sizing: border-box;
	border-bottom: var(--color-brd-main) 1px solid;
	background: var(--color-bg-lite);
}

.debuggerSwitcher {
	margin-right: 12px;
}

.separator {
	height: 16px;
	width: 1px;
	background-color: var(--color-brd-separator);
}

.control {
	margin: 0 8px;

	@media (max-width: 256px) {
		white-space: nowrap;
		overflow: hidden;
	}
}
