.root {
	display: flex;
	align-items: center;
	box-sizing: border-box;
	height: 36px;
	padding: 1px 9px 0 8px;
	border-bottom: var(--color-brd-main) 1px solid;
	background: var(--color-main-header-bg);
}

.tail {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	column-gap: 8px;
	flex-grow: 1;
	margin-left: 8px;
}
