.root {
	display: flex;
	align-items: center;
	height: 30px;
	padding: 1px 6px 0 4px;
	box-sizing: border-box;
	border-bottom: var(--color-brd-main) 1px solid;
	background: var(--color-bg-light);
}

.debuggerSwitcher {
	margin-right: 12px;
	--icon-button-clip: circle(34%); /* TODO use icon and remove --icon-button-clip*/

	&.active {
		--icon-button-bg: #eb3941;
	}

	&.inactive {
		--icon-button-bg: #cccccc;
	}
}

.separator {
	height: 16px;
	width: 1px;
	background-color: #3d3d3d; /* TODO to vars*/
}

.control {
	margin: 0 8px;

	@media (max-width: 256px) {
		white-space: nowrap;
		overflow: hidden;
	}
}
