.root {
	display: flex;
	align-items: center;
	width: auto;
	height: auto;
	border: none;
	padding: 0;
	background: none;
	text-align: left;
	color: inherit;

	&::before {
		content: '';
		display: block;
		width: 18px;
		height: 18px;
		opacity: 0.75;
		background: var(--icon-button-bg, none) center no-repeat;
		transform: rotate(var(--icon-button-rotate, 0));
		transition: transform 0.1s ease-out, opacity 0.1s ease-out;
		clip-path: var(--icon-button-clip, none);
	}
	&:focus {
		outline: var(--color-focus) solid 1px;
	}
	&:hover::before {
		opacity: 1;
	}
	&:disabled::before {
		opacity: 0.5;
		outline: none;
	}
}

.title {
	padding: 0 2px 0 	4px;
}

.tooltip {
	display: none;
	white-space: nowrap;
}
