.root {
	display: flex;
	align-items: center;
	width: auto;
	height: auto;
	padding: 0;
	border: none;
	text-align: left;
	color: inherit;
	background: none;
	user-select: none;

	&:focus {
		outline: none;
	}

	&:focus-visible {
		outline: var(--color-focus) solid 1px;
	}

	&:hover {
		color: var(--color-content);
	}

	&.isOutline {
		padding: 0 8px 0 2px;
		border: var(--color-brd-main) 1px solid;
		border-radius: 3px;
	}
}

.icon {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 18px;
	height: 18px;
	fill: var(--color-icon-regular);
}

.root:hover .icon {
	fill: var(--color-icon-hover);
}

.root:disabled .icon {
	fill: var(--color-icon-disabled);
}

.title {
	padding: 0 2px 0 6px;
	white-space: nowrap;
}

.tooltip {
	display: none;
	white-space: nowrap;
}
