.root {
	display: flex;
	align-items: center;
	width: auto;
	height: auto;
	padding: 0;
	border: none;
	text-align: left;
	color: inherit;
	background: none;
	user-select: none;
	transition: fill 0.08s ease-out;
	cursor: pointer;

	&:disabled {
		opacity: 0.6;
		cursor: default;
	}

	&:not(:disabled):hover,
	&.isActive {
		filter: brightness(var(--brightness-hover));
	}

	&.styleRegular {
		fill: var(--color-icon-regular);
	}

	&.styleDangerous {
		fill: var(--color-icon-dangerous);
	}

	&:focus {
		outline: none;
	}

	&:focus-visible {
		outline: var(--color-focus) solid 1px;
	}
}

.icon {
	display: flex;
	align-items: center;
	justify-content: center;
	min-width: 18px;
	min-height: 18px;
}

.title {
	padding: 0 2px 0 6px;
	white-space: nowrap;
}

.tooltip {
	display: none;
	white-space: nowrap;
}
