.root {
	width: 100%;
}

.field {
	width: 100%;
	z-index: 2;
}

.macros {
	position: relative;
}

.macrosButton {
	margin-right: 8px;
}

.macrosPicker {
	color: var(--color-main);
}

.macrosOption {
	width: 110px;
	padding: 0 8px;
	border-width: 0;
	line-height: 22px;
	text-align: left;

	&:nth-child(odd) {
		background: var(--color-bg-odd-item);
	}

	&:hover {
		text-decoration: underline;
	}
}
