.root {
	display: block;
	padding: 3px 8px;
	width: 100%;
	min-height: 64px;
	max-height: 300px;
	box-sizing: border-box;
	line-height: 14px;
	border: transparent 1px solid;
	border-radius: 3px;
	background: var(--color-bg-main);
	font-family: inherit;
	font-size: 11px;
	color: var(--color-light);
	resize: vertical;

	&:focus {
		outline: none;
		border-color: var(--color-focus);
	}
	&:disabled {
		border-color: transparent;
		background: var(--color-bg-main);
		color: var(--color-main);
	}
}
