.root {
	width: 100%;
}
.item {
	margin-bottom: 8px;

	&:last-child {
		margin-bottom: 0;
	}
}

.entry {
	display: flex;
	align-items: center;
}

.field {
	width: auto;
	max-width: 520px;
	margin-right: 8px;
	flex-grow: 1;
}

.control {
	flex-shrink: 0;

	&.typeAdd {
		--icon-button-bg: url('icons/add.svg');
	}

	&.typeRemove {
		--icon-button-bg: url('icons/remove.svg');
	}
}
