.root {
	width: 100%;
}

.item {
	margin-bottom: 8px;

	&:last-child {
		margin-bottom: 0;
	}
}

.entry {
	display: flex;
	align-items: center;
}

.field {
	flex-grow: 1;
	width: auto;
	max-width: 520px;
	margin-right: 8px;
}

.control {
	flex-shrink: 0;
}
