.placeholder {
	position: relative;
	top: clamp(0px, calc(50% - 40px), 250px);
	margin: 0;
	padding: 10px 0;
	font-size: 12px;
	text-align: center;
	color: var(--color-placeholder);
}

.composeButton {
	display: block;
	margin: 20px auto 0;
}
