.list {
	height: 100%;
	overflow: auto;
}

.placeholder {
	position: relative;
	top: calc(50% - 30px);
	margin: 0;
	font-size: 12px;
	text-align: center;
	color: #7e7e7e;
}

.composeButton {
	display: block;
	margin: 20px auto 0;
}
