.root {
	display: flex;
	position: relative;
	width: 300px;
}

.prefix,
.suffix {
	flex-shrink: 1;
	position: relative;
	z-index: 1;
}

.input {
	flex-grow: 1;
	position: relative;
	width: 0;
	padding: 0 6px;
	border: none;
	z-index: 1;
	line-height: 20px;
	font-size: 11px;
	color: var(--color-content);
	background: transparent;

	&:focus {
		outline: none;
	}

	&:disabled {
		color: var(--color-main);
	}
}

.filler {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	border: transparent 1px solid;
	border-radius: 3px;
	background: var(--color-bg-main);
}

.input:focus + .filler {
	border-color: var(--color-focus);
}

.input:disabled + .filler {
	border-color: transparent;
}
