.root {
	display: flex;
	position: relative;
	width: 300px;
	color: var(--color-light);
}
.prefix,
.suffix {
	position: relative;
	flex-shrink: 1;
	z-index: 1;
}
.input {
	position: relative;
	flex-grow: 1;
	padding: 0 8px;
	border: none;
	line-height: 20px;
	font-size: 11px;
	color: inherit;
	background: transparent;
	z-index: 1;
}

.filler {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	border: transparent 1px solid;
	border-radius: 3px;
	background: var(--color-bg-main);
}

.input:focus {
	outline: none;
}
.input:focus + .filler {
	border-color: var(--color-focus);
}
.input[disabled] {
	border-color: transparent;
	background: var(--color-bg-main);
	color: var(--color-main);
}
.input[disabled] + .border {
	border-color: transparent;
}
