.root {
	display: flex;
	flex-direction: column;
	height: 100%;
}

.section {
	display: flex;
	flex-direction: column;
	overflow: hidden;

	&.isPrimary {
		flex-grow: 1;
	}

	&.isSecondary {
		flex-shrink: 0;
		max-height: 50%;
	}
}

.header {
	flex-shrink: 0;
}

.content {
	flex-grow: 1;
	overflow: auto;
}
