.root {
	display: flex;
	align-items: center;
	height: 18px;
}

.input {
	margin: 2.5px;
}

:global(.dark-theme) {
	& .input {
		filter: invert(80%);
	}
}

.label {
	margin-left: 6px;
	user-select: none;
}
