@keyframes showTooltip {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.root {
	position: relative;
}

.tooltip {
	position: absolute;
	padding: 2px 6px;
	border: var(--color-brd-outline) 1px solid;
	border-radius: 3px;
	background: var(--color-bg-main);
	animation: showTooltip 0.1s ease-out 0.6s;
	animation-fill-mode: backwards;
	white-space: nowrap;
	color: var(--color-main);
	font-size: 12px;
	line-height: 14px;
	box-shadow: 0 1px 3px 1px var(--color-shadow-overlay-lite);
	z-index: 100;

	&.expand-x-to-start {
		right: 0;
	}
	&.expand-x-to-end {
		left: 0;
	}
	&.expand-y-to-start {
		bottom: calc(100% + 4px);
	}
	&.expand-y-to-end {
		top: calc(100% + 4px);
	}
}
