.target {
	&:hover {
		anchor-name: --with-tooltip-ancher;
	}
}

.tooltip {
	position: absolute;
	position-anchor: --with-tooltip-ancher;
	inset-area: bottom span-right; /* Legacy option of position-area */
	position-area: bottom span-right;
	position-try-options:  /* Legacy option of position-try-fallbacks */
		flip-block,
		flip-inline,
		flip-block flip-inline;
	position-try-fallbacks:
		flip-block,
		flip-inline,
		flip-block flip-inline;
	margin: unset;
	margin-top: 4px;
	border: var(--color-brd-outline) 1px solid;
	border-radius: 3px;
	z-index: 100;
	background: var(--color-bg-main);
	box-shadow: 0 1px 3px 1px var(--color-shadow-overlay-lite);

	&.isStyled {
		padding: 2px 6px;
		line-height: 14px;
		font-size: 12px;
		white-space: pre-wrap;
		color: var(--color-main);
	}

	&:popover-open {
		animation: show-tooltip 0.1s ease-out;
		animation-fill-mode: backwards;
	}
}

@keyframes show-tooltip {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}
