.root {
	height: 24px;
	padding: 0 16px;
	border-radius: 3px;
	border: var(--color-brd-main) 1px solid;
	font-weight: 700;
	cursor: pointer;
}

.root.style-main {
	background: var(--color-bg-main);
	color: var(--color-main);
}

.root.style-secondary {
	background: var(--color-bg-light);
	color: var(--color-main);
}

.root:focus {
	outline: none;
	border-color: var(--color-focus);
}
