.root {
	display: flex;
	flex-grow: 1;
	padding-top: 16px;
	padding-bottom: 4px;
}

.fields {
	display: flex;
	align-items: flex-start;
	flex-grow: 1;
}

@media (max-width: 640px) {
	.fields {
		flex-wrap: wrap;
	}
	.urlField {
		width: 100%;
	}
}

.urlField {
	flex-grow: 20;
	margin: 0 8px 8px 0;
}

.urlInfoButton {
	--icon-button-bg: url('./icons/info.svg');
	margin: 1px 4px 0 0;
}

.resourceTypesField {
	flex-shrink: 0;
	width: 110px;
	margin-right: 8px;
}

.methodsField {
	flex-shrink: 0;
	width: 92px;
}

@media (min-width: 1000px) {
	.resourceTypesField {
		width: 180px;
	}
	.methodsField {
		width: 180px;
	}
}

.urlInfoText {
	text-align: left;
}

.urlInfoMark {
	font-family: monospace;
}
