.headerContent {
	display: flex;
	align-items: center;
	overflow: hidden;
	white-space: nowrap;
}

.requestInfo {
	margin-left: 12px;
	overflow: hidden;
	font-size: 12px;
	text-overflow: ellipsis;
	color: var(--color-content-accent);
}

.requestSelect {
	flex-grow: 1;
	margin-left: 12px;
}
