.root {
	height: 100%;
}

.content {
	height: calc(100% - 30px); /* deduct header height */
	overflow: auto;
	font-size: 12px;
}

.control {
	margin: 0 1px 0 9px;
}
.control.typeClear {
	--icon-button-bg: url('./icons/clear.svg');
}
.control.typeCollapse {
	--icon-button-bg: url('./icons/collapse.svg');
}
.control.typeExpand {
	--icon-button-bg: url('./icons/expand.svg');
}

.list {
	height: 100%;
	min-width: 500px;
}
.item {
	display: block;
}
.item:nth-child(odd) {
	background: #2f2f2f;
}
.placeholder {
	position: relative;
	margin: 0;
	top: calc(50% - 8px);
	font-size: 12px;
	text-align: center;
	color: #7e7e7e;
}
