.root {
	display: flex;
	align-items: center;
	color: #b1b9c0;
	height: 28px;
	user-select: text;
}

.time {
	width: 56px;
	margin: 0 8px;
	flex-shrink: 0;
	opacity: 0.5;
}

.stage {
	width: 14px;
	height: 10px;
	margin-right: 8px;

	&.request {
		background: url('./icons/request.svg') no-repeat center;
	}
	&.response {
		background: url('./icons/response.svg') no-repeat center;
	}
	&.both {
		background: url('./icons/both.svg');
	}
}

.method {
	width: 48px;
	flex-shrink: 0;
}

.type {
	width: 58px;
	margin: 0 8px;
	flex-shrink: 0;
}

.url {
	flex-grow: 1;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.followButton {
	flex-shrink: 0;
	margin: 0 6px;
	--icon-button-bg: url('./icons/follow.svg');
	cursor: pointer;
}
