.stageIcon {
	width: 8px;
	height: 10px;
	margin: 5px 8px 5px 0;

	&.request {
		background: url('./icons/request.svg');
	}

	&.response {
		background: url('./icons/response.svg');
	}
}

.stageName {
	font-weight: 700;
	line-height: 20px;
}

.separator {
	margin: 8px 8px 8px 118px;
	height: 1px;
	background: var(--color-brd-lite);
}
