.root {
    position: relative;
    height: 100vh;
}
.headerControl {
    margin: 0 6px;
}
.headerControl.typeAdd,
.headerControl.typeClose {
    --icon-button-bg: url('./icons/add.svg');
}
.headerControl.typeClose {
    --icon-button-rotate: 45deg;
}
.headerControl.typeClear {
    --icon-button-bg: url('./icons/clear.svg');
}
.headerControl.typeCollapse {
    --icon-button-bg: url('./icons/panel-collapse.svg');
}
.headerControl.typeExpand {
    --icon-button-bg: url('./icons/panel-expand.svg');
}
.sectionContent {
    height: calc(100% - 30px);
}
.compose {
    position: absolute;
    width: 100%;
    height: calc(100% - 29px);
    top: 29px;
    left: 0;
    right: 0;
    bottom: 0;
    border-top: #555555 1px solid;
    background: #383838;
    z-index: 10;
}
.compose::before {
    content: '';
    display: block;
    position: absolute;
    width: 10px;
    height: 6px;
    right: 40px;
    top: -6px;
    clip-path: polygon(0 100%, 50% 0, 100% 100%);
    background: #555555;
}
