.root {
	position: relative;
	height: 100vh;
}
.compose {
	position: absolute;
	width: 100%;
	height: calc(100% - 29px);
	top: 29px;
	left: 0;
	right: 0;
	bottom: 0;
	border-top: #555555 1px solid;
	background: #383838;
	z-index: 10;
}
.compose::before {
	content: '';
	display: block;
	position: absolute;
	width: 10px;
	height: 6px;
	right: 67px;
	top: -6px;
	clip-path: polygon(0 100%, 50% 0, 100% 100%);
	background: #555555;
}
.errorDisplay {
	white-space: pre-wrap;
}
