:host {
	all: initial;
	display: block;
	position: relative;
	width: 128px;
	font-family: inherit;
	font-size: 12px;
	color: #A5A5A5;
}

#label {
	display: block;
	position: relative;
	width: 100%;
	height: 20px;
	padding: 0 14px 0 8px;
	overflow: hidden;
	border: transparent 1px solid;
	border-radius: 2px;
	text-align: left;
	line-height: 20px;
	font-family: inherit;
	font-size: inherit;
	white-space: nowrap;
	text-overflow: ellipsis;
	user-select: none;
	background: #242424;
	color: #656565;
}

#label::after {
	content: '';
	display: block;
	position: absolute;
	right: 6px;
	top: 7px;
	width: 7px;
	height: 6px;
	background: #616161;
	clip-path: polygon(0 0, 100% 0, 50% 100%);
}

#label:focus {
	outline: none;
	border-color: #356A9E;
}

#label:focus {
	outline: none;
	border-color: #356A9E;
}

#label.empty {
	color: inherit;
}

#content {
	position: absolute;
	top: 100%;
	left: 0;
	right: 0;
	padding: 2px 0;
	margin: 0;
	overflow-y: scroll;
	border: #1a1a1a 1px solid;
	color: #A5A5A5;
	background: #303030;
	user-select: none;
}
#content.inverted {
	top: auto;
	bottom: 100%;
}



.option {
	padding: 0 8px;
	line-height: 18px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	user-select: none;
	cursor: pointer;
}
.option.selected {
	background: #424242;
}
.option:hover,
.option.highlighted {
	background: #356A9E;
}
