.root {
}

.input {
	float: left;
	width: 0;
	height: 0;
	margin: 0;
	opacity: 0;
}

.imitator {
	line-height: 20px;
	font-size: 12px;
	color: var(--color-main);
	cursor: pointer;
	user-select: none;
}
.imitator::before {
	content: '';
	float: left;
	width: 18px;
	height: 18px;
	border: transparent 1px solid;
	border-radius: 50%;
	margin-right: 4px;
	background: url('./icons/check-inactive.svg') no-repeat center;
}
.input:focus + .imitator {
	outline: none;
}
.input:focus + .imitator::before {
	border-color: var(--color-focus);
}
.input:checked + .imitator::before {
	background: url('./icons/check-active.svg') no-repeat center;
}
.input:disabled + .imitator {
	opacity: 0.5;
	cursor: default;
}
