.root {
	padding: 0;
	line-height: 14px;
	border: transparent solid;
	border-width: 1px 0 1px 0;
	border-bottom-color: currentColor;
	background: transparent;
	color: var(--color-light);
	font-size: 11px;
	cursor: pointer;
}

.root:focus {
	outline: none;
	border-bottom-color: var(--color-focus);
}
