.root {
	display: block;
	width: 18px;
	height: 18px;
	border: none;
	padding: 0;
	background: none;
}
.root::before {
	content: '';
	display: block;
	width: 100%;
	height: 100%;
	opacity: 0.75;
	background: var(--icon-button-bg, none) center no-repeat;
	transform: rotate(var(--icon-button-rotate, 0));
	transition: transform 0.1s ease-out;
	clip-path: var(--icon-button-clip, none);
}
.root:focus {
	outline: var(--color-focus) solid 1px;
}
.root:hover::before {
	opacity: 1;
}
.root[disabled]::before {
	opacity: 0.5;
	outline: none;
}
.tooltip {
	display: none;
	white-space: nowrap;
}
