.placeholder {
	padding: 0 8px;
}

.table {
	border-collapse: collapse;
	border-spacing: 0;
}

.titleColumn {
	width: 112px;
}

.sectionTitle {
	display: flex;
	align-items: center;
	padding: 4px 8px;
	font-size: 12px;
	font-weight: 700;
}

.sectionIcon {
	margin-right: 10px;
}
