.root {
	display: block;
	box-sizing: border-box;
	width: 100%;
	min-height: 64px;
	max-height: 300px;
	padding: 3px 6px;
	border: transparent 1px solid;
	border-radius: 3px;
	line-height: 14px;
	font-family: inherit;
	font-size: 11px;
	color: var(--color-content);
	background: var(--color-bg-main);
	resize: vertical;

	&:focus {
		border-color: var(--color-focus);
		outline: none;
	}

	&:disabled {
		border-color: transparent;
		color: var(--color-main);
		background: var(--color-bg-main);
	}
}
