.root {
	display: block;
	box-sizing: border-box;
	padding: 3px 6px;
	border: transparent 1px solid;
	border-radius: 3px;
	line-height: 14px;
	font-family: inherit;
	font-size: 11px;
	color: var(--color-content);
	background: var(--color-bg-main);
	resize: vertical;

	@supports (field-sizing: content) {
		overflow: hidden;
		overflow-y: auto;
		resize: none;
		field-sizing: content;
	}

	&:focus {
		border-color: var(--color-focus);
		outline: none;
	}

	&:disabled {
		border-color: transparent;
		color: var(--color-main);
		background: var(--color-bg-main);
	}
}
