.root {
	display: flex;
	align-items: center;
	min-width: 360px;
	height: 28px;
	color: var(--color-content);

	&:nth-child(odd) {
		background: var(--color-bg-odd-item);
	}
}

.time {
	flex-shrink: 0;
	width: 52px;
	margin-left: 8px;
	opacity: 0.5;
}

.action {
	display: flex;
	flex-shrink: 0;
	margin-right: 8px;

	.actionIconMutation {
		fill: light-dark(#ab75cf, #b48dce);
	}

	.actionIconBreakpoint {
		fill: light-dark(#ec7676, #d75050);
	}

	.actionIconLocalResponse {
		fill: light-dark(#6a79d3, #7e8de5);
	}

	.actionIconFailed {
		fill: light-dark(#f15f5f, #d83d3d);
	}

	.actionIconScript {
		fill: light-dark(#d0b43d, #a99231);
	}

	.actionIconNoAction {
		fill: light-dark(#a7b0b9, #bec8d4);
	}
}

.method {
	flex-shrink: 0;
	box-sizing: border-box;
	width: 42px;
	margin-right: 6px;
	padding-right: 4px;
	border-right: 1px solid var(--color-brd-lite);
	overflow: hidden;
	text-overflow: ellipsis;
}

.type {
	flex-shrink: 0;
	box-sizing: border-box;
	width: 58px;
	margin-right: 6px;
	padding-right: 4px;
	border-right: 1px solid var(--color-brd-lite);
	overflow: hidden;
	text-overflow: ellipsis;
}

.status {
	flex-shrink: 0;
	box-sizing: border-box;
	width: 30px;
	margin-right: 6px;
	padding-right: 4px;
	border-right: 1px solid var(--color-brd-lite);
}

.url {
	flex-grow: 1;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.controlsButton {
	flex-shrink: 0;
	margin: 0 6px;
	opacity: 0;

	&:focus,
	.root:hover & {
		opacity: 1;
	}
}
