.root {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	box-sizing: border-box;
	border-top: var(--color-brd-main) 1px solid;
	background: var(--color-bg-light);
	overflow: auto;
	z-index: 10;
}

.form {
	min-width: 500px;
}

.config {
	padding-top: 12px;
}

.controls {
	display: flex;
	margin-top: 12px;
	padding: 12px 8px 24px 118px;
	border-top: #4b4b4b /* TODO to variables */ 1px solid;
}

.saveButton {
	margin-right: 8px;
}
