.statusCode {
	width: 36px;
}

.buttonExecute {
	--button-icon: url('icons/execute.svg');
	margin-right: 16px;
}

.buttonAbort {
	--button-icon: url('./icons/abort.svg');
}

.urlField {
	flex-grow: 1;
}
