@import url('./reset.css');
@import url('./theme.css');

:root {
	&:not(:global(.theme-light), :global(.theme-dark)) {
		color-scheme: light;

		@media (prefers-color-scheme: dark) {
			color-scheme: dark;
		}
	}

	&:global(.theme-light) & {
		color-scheme: light;
	}

	&:global(.theme-dark) {
		color-scheme: dark;
	}
}

body {
	margin: 0;
	overflow: hidden;
	font-size: 11px;
	color: var(--color-main);
	background: var(--color-bg-main);

	&:global(.platform-linux) {
		font-family: Roboto, Ubuntu, Arial, sans-serif;
	}

	&:global(.platform-mac) {
		font-family: '.SFNSDisplay-Regular', 'Helvetica Neue', 'Lucida Grande', sans-serif;
	}

	&:global(.platform-windows) {
		font-family: 'Segoe UI', Tahoma, sans-serif;
	}
}

:global(#netify-sandbox-iframe) {
	position: absolute;
	left: -1000000px;
	top: -100000px;
}

/* scrollbar styles */
::-webkit-scrollbar {
	width: 6px;
	height: 6px;
	background-color: var(--color-bg-main);
	box-shadow: 0 0 0 1px #0005;
}

::-webkit-scrollbar-thumb {
	border-radius: 2px;
	background-color: var(--color-scrollbar);
	box-shadow: inset 0 0 1px #fff8;
}

::-webkit-scrollbar-corner {
	background-color: var(--color-bg-main);
}
