@import './reset.css';
@import './theme.css';

body {
	margin: 0;
	overflow: hidden;
	background: var(--color-bg-main);
	font-size: 12px;
	-webkit-user-select: none;
	color: var(--color-main);
}

:global body.platform-linux {
	font-family: Roboto, Ubuntu, Arial, sans-serif;
}

:global body.platform-mac {
	font-family: '.SFNSDisplay-Regular', 'Helvetica Neue', 'Lucida Grande', sans-serif;
}

:global body.platform-windows {
	font-family: 'Segoe UI', Tahoma, sans-serif;
}

/* scrollbar styles (TODO prepare for the light theme */
::-webkit-scrollbar {
	background-color: var(--color-bg-main);
	width: 8px;
	height: 8px;
	box-shadow: 0 0 0 1px #00000055;
}

::-webkit-scrollbar-thumb {
	border-radius: 2px;
	background-color: #333;
	box-shadow: inset 0 0 1px #ffffff88;
}

::-webkit-scrollbar-corner {
	background-color: var(--color-bg-main);
}
