/*prettier-ignore*/
h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-weight: inherit;
    font-size: inherit;
}

p {
	margin: 0;
}

/*prettier-ignore*/
ul, ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

/*prettier-ignore*/
button, input, textarea {
    font-size: inherit;
    font-family: inherit;
}
