.main {
	flex-grow: 1;
	overflow: hidden;
}

.primaryRow {
	height: 20px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-right: 12px;
}

.codeField {
	width: 100%;
	margin: 12px 0 24px;
}
