.target {
	&.isExpanded {
		anchor-name: --droprown-ancher;
	}
}

.popover {
	position-anchor: --droprown-ancher;
	inset-area: bottom span-right; /* Legacy option of position-area */
	position-area: bottom span-right;
	position-try-options:  /* Legacy option of position-try-fallbacks */
		flip-block,
		flip-inline,
		flip-block flip-inline;
	position-try-fallbacks:
		flip-block,
		flip-inline,
		flip-block flip-inline;
	width: min-content;
	margin: 4px 0 0;
	padding: 0;
	border: var(--color-brd-outline) 1px solid;
	border-radius: 3px;
	color: inherit;
	background: var(--color-bg-main);
	box-shadow: 0 1px 3px 1px var(--color-shadow-overlay-lite);

	&.preferAlignLeft {
		inset-area: bottom span-left; /* Legacy option of position-area */
		position-area: bottom span-right;
	}
}
