.root {
	height: 24px;
	padding: 0 8px;
	border-radius: 3px;
	border: var(--color-brd-main) 1px solid;
	cursor: pointer;

	&.style-unfilled {
		background: transparent;
		color: var(--color-main);
	}

	&.style-light {
		background: var(--color-bg-lite);
		color: var(--color-main);
	}

	&.style-dark {
		background: var(--color-bg-main);
		color: var(--color-main);
	}

	&.withIcon {
		padding-left: 4px;
		line-height: 16px;
	}

	&.withIcon::before {
		content: '';
		display: inline-block;
		width: 16px;
		height: 16px;
		margin-right: 6px;
		vertical-align: middle;
		background: var(--button-icon) no-repeat center;
	}

	&:focus {
		outline: none;
		border-color: var(--color-focus);
	}
}
