@keyframes show-horizontal-floating-section {
	from {
		transform: translateX(100%);
	}

	to {
		transform: translateX(0);
	}
}

@keyframes show-vertical-floating-section {
	from {
		transform: translateY(100%);
	}

	to {
		transform: translateX(0);
	}
}

.root {
	display: flex;
	position: relative;
	height: 100%;

	&.isVerticalLayout {
		flex-direction: column;
	}
}

.section {
	position: relative;
	height: 100%;
	z-index: 0;

	&.main {
		flex-basis: 0;
		flex-grow: 1;

		.root.isHorizontalLayout & {
			min-width: 300px;
		}

		.root.isVerticalLayout & {
			min-height: 60px;
		}
	}

	&.secondary {
		.root.isHorizontalLayout & {
			min-width: 200px;
		}

		.root.isVerticalLayout & {
			min-height: 60px;
		}
	}
}

.floatingSection {
	position: absolute;
	border: var(--color-brd-strong) 0 solid;
	z-index: 10;
	background: var(--color-bg-main);
	box-shadow: 0 10px 10px 1px var(--color-shadow-overlay-strong);
	inset: 0;

	.root.isHorizontalLayout & {
		border-left: 1px;
		animation: show-horizontal-floating-section 0.12s ease-out;
	}

	.root.isVerticalLayout & {
		border-top: 1px;
		animation: show-vertical-floating-section 0.12s ease-out;
	}
}

.separator {
	flex-shrink: 0;
	position: relative;
	z-index: 1;
	background: var(--color-brd-strong);

	&::before {
		content: '';
		display: block;
		position: absolute;
	}

	&:hover::before {
		left: -6px;
		right: -6px;
	}

	&:active::before {
		left: -10000px;
		right: -10000px;
	}

	.root.isHorizontalLayout & {
		width: 1px;
		cursor: col-resize;

		&::before {
			inset: 0 -2px;
		}

		&:hover::before {
			left: -6px;
			right: -6px;
		}

		&:active::before {
			left: -10000px;
			right: -10000px;
		}
	}

	.root.isVerticalLayout & {
		height: 1px;
		cursor: row-resize;

		&::before {
			inset: -2px 0;
		}

		&:hover::before {
			top: -6px;
			bottom: -6px;
		}

		&:active::before {
			top: -10000px;
			bottom: -10000px;
		}
	}
}
