.root {
	display: block;
	padding: 3px 8px;
	width: 100%;
	min-height: 62px;
	max-height: 300px;
	box-sizing: border-box;
	line-height: 14px;
	border: transparent 1px solid;
	background: #242424;
	font-family: inherit;
	font-size: 11px;
	color: #A5A5A5;
	resize: vertical;
}
.root:focus {
	outline: #356A9E solid 1px;
	outline-offset: 0;
}
.root:disabled {
	border-color: transparent;
	background: #292929;
	color: #CFCFCF;
}
