.root {
	display: flex;
	align-items: center;
	min-width: 360px;
	height: 28px;
	color: var(--color-content);

	&:nth-child(odd) {
		background: var(--color-bg-odd-item);
	}
}

.time {
	flex-shrink: 0;
	width: 56px;
	margin-left: 8px;
	opacity: 0.5;
}

.stage {
	flex-shrink: 0;
	width: 14px;
	height: 10px;
	margin-right: 8px;
	text-align: center;
	fill: var(--color-icon-regular);
}

.method {
	flex-shrink: 0;
	width: 42px;
	overflow: hidden;
	text-overflow: ellipsis;
}

.type {
	flex-shrink: 0;
	width: 52px;
	margin: 0 8px;
	overflow: hidden;
	text-overflow: ellipsis;
}

.url {
	flex-grow: 1;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.followButton {
	flex-shrink: 0;
	margin: 0 6px;
	cursor: pointer;
}
