.activeTitle {
	font-weight: 700;
	color: var(--color-focus);
}

.control {
	margin: 0 2px 0 4px;
}

.separator {
	width: 1px;
	height: 16px;
	margin: 0 2px 0 6px;
	background-color: var(--color-brd-separator);
}
