.activeTitle {
	font-weight: 700;
	color: var(--color-focus);
}

.leading {
	display: flex;
	align-items: center;
}

.separator {
	width: 1px;
	height: 16px;
	margin: 0 8px;
	background-color: var(--color-brd-separator);
}

.leadingControl {
	margin-right: 8px;
}

.tailControl {
	margin: 0 2px 0 4px;
}
