.root {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	box-sizing: border-box;
	border-top: #555555 1px solid;
	background: #383838;
	overflow: auto;
	z-index: 10;
}
.form {
	min-width: 500px;
	padding: 0 8px 16px 8px;
}
.title {
	font-size: 12px;
	margin: 16px 0 6px 0;
	color: #a5a5a5;
}
.controls {
	display: flex;
	margin-top: 16px;
}
.saveButton {
	margin-right: 8px;
}
