.root {
	display: flex;
}
.urlField {
	flex-grow: 20;
}
.urlTypeField {
	flex-shrink: 0;
	margin-left: 8px;
}
.separator {
	width: 1px;
	height: 20px;
	margin: 0 8px;
	background: #616161;
}
.requestTypesField {
	flex-shrink: 0;
	width: 110px;
}
.methodsField {
	flex-shrink: 0;
	width: 92px;
	margin-left: 8px;
}
@media (max-width: 579px) {
	.root {
		flex-wrap: wrap;
	}
	.separator {
		width: 100%;
		height: 0;
		margin: 4px 0;
	}
}
