.root {
	display: flex;
	align-items: center;
	min-width: 300px;

	&:nth-child(odd) {
		background: var(--color-bg-odd-item);
	}

	&.highlighted {
		background: var(--color-bg-accent);
	}
}

.entry {
	width: 0; /* Fix nested overflow */
	position: relative;
	flex-grow: 1;
	padding: 8px 0;
	cursor: pointer;

	&:focus {
		outline: none;

		& .url {
			text-decoration: underline;
		}
	}
}

.focusable {
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	width: 0;

	&:focus {
		width: 100%;
		border: var(--color-focus) solid 1px;
		background: var(--color-bg-accent);
		outline: none;
	}
}

.label {
	margin: 0 8px 6px 8px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	color: var(--color-content-accent);
}

.filter {
	display: flex;
	align-items: center;
	position: relative;

	&.inactive {
		opacity: 0.5;
	}
}

.labelBox,
.labelMore {
	flex-shrink: 0;
	padding: 0 4px;
	line-height: 16px;
	border-radius: 2px;
	font-weight: 700;
	background: #444;
}

.labelBox {
	margin: 0 2px 0 8px;
	color: #cdcdcd;
}

.labelMore {
	margin-left: 2px;
}

.url {
	margin-left: 8px;
	font-size: 12px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	color: var(--color-content-accent);

	&.placeholder {
		color: inherit;
	}
}

.actionsSummary {
	position: relative;
	padding: 6px 4px 0 8px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.control {
	flex-shrink: 0;
	margin: 0 4px;
	padding: 0 4px; /* To correct dropdown position */
}

.controlTarget {
	width: 18px;
	height: 18px;
	background: url('./icons/more.svg');
}
