.root {
	display: flex;
	align-items: center;
	min-width: 300px;

	&:nth-child(odd) {
		background: var(--color-bg-odd-item);
	}

	&.highlighted {
		background: var(--color-bg-accent);
	}
}

.selectCheckbox {
	margin-left: 8px;
}

.entry {
	flex-grow: 1;
	position: relative;
	width: 0; /* Fix nested overflow */
	padding: 8px 0;
	cursor: pointer;

	&:focus {
		outline: none;
	}
}

.focusable {
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	width: 0;

	&:focus {
		width: 100%;
		border: var(--color-focus) solid 1px;
		outline: none;
		background: var(--color-bg-accent);
	}
}

.label {
	position: relative;
	margin: 0 8px 6px;
	overflow: hidden;
	font-style: italic;
	white-space: nowrap;
	text-overflow: ellipsis;
	color: var(--color-content-accent);

	&.inactive {
		opacity: 0.5;
	}
}

.filter {
	display: flex;
	align-items: center;
	position: relative;

	&.inactive {
		opacity: 0.5;
	}
}

.labelBox,
.labelMore {
	flex-shrink: 0;
	padding: 0 4px;
	border-radius: 2px;
	line-height: 16px;
	font-weight: 700;
	background: var(--color-bg-accent);
}

.labelBox {
	margin: 0 2px 0 8px;
	color: #cdcdcd;
}

.labelMore {
	margin-left: 2px;
}

.url {
	margin-left: 8px;
	overflow: hidden;
	font-size: 12px;
	white-space: nowrap;
	text-overflow: ellipsis;
	color: var(--color-content-accent);

	&.placeholder {
		color: inherit;
	}
}

.entry:focus .url {
	text-decoration: underline;
}

.actionsSummary {
	position: relative;
	padding: 6px 4px 0 8px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.control {
	flex-shrink: 0;
	margin: 0 8px;
	opacity: 0;

	.root:hover &,
	.root:focus-within & {
		opacity: 1;
	}
}
