.root {
	position: relative;
	width: 80px;
	color: var(--color-main);

	&::after {
		content: '';
		display: block;
		position: absolute;
		right: 6px;
		top: 7px;
		width: 7px;
		height: 6px;
		background: var(--color-placeholder);
		clip-path: polygon(0 0, 100% 0, 50% 100%);
	}
}

.field {
	appearance: none;
	position: relative;
	width: 100%;
	padding: 0 18px 0 6px;
	border: transparent 1px solid;
	border-radius: 3px;
	overflow: hidden;
	line-height: 18px;
	font-size: 11px;
	color: inherit;
	background: var(--color-bg-main);
	user-select: none;

	&:focus {
		outline: none;
	}

	&:focus-visible {
		border-color: var(--color-focus);
		outline: none;
	}

	/* Selected an empty value */
	&:has(.option[value='']:checked) {
		color: var(--color-placeholder);
	}
}
