.root {
	position: relative;
	width: 80px;
	font-size: 12px;
	color: var(--color-main);
}

.label {
	position: relative;
	width: 100%;
	padding: 0 18px 0 6px;
	overflow: hidden;
	border: transparent 1px solid;
	border-radius: 3px;
	line-height: 18px;
	text-align: left;
	white-space: nowrap;
	font-size: 11px;
	text-overflow: ellipsis;
	user-select: none;
	background: var(--color-bg-main);
	color: inherit;

	&::after {
		content: '';
		display: block;
		position: absolute;
		right: 6px;
		top: 7px;
		width: 7px;
		height: 6px;
		background: var(--color-placeholder);
		clip-path: polygon(0 0, 100% 0, 50% 100%);
	}

	&.empty {
		color: var(--color-placeholder);
	}

	&:focus {
		outline: none;
		border-color: var(--color-focus);
	}
}

.content {
	position: absolute;
	left: 0;
	right: 0;
	padding: 2px 0;
	box-sizing: border-box;
	overflow-y: auto;
	overscroll-behavior: contain;
	border: var(--color-brd-outline) 1px solid;
	color: var(--color-main);
	background: var(--color-bg-main);
	user-select: none;
	z-index: 2;

	&::-webkit-scrollbar {
		background-color: transparent;
		width: 6px;
	}
	&.expand-to-start {
		bottom: 100%;
	}
	&.expand-to-end {
		top: 100%;
	}
}

.option {
	display: block;
	padding: 0 6px;
	font-size: 12px;
	line-height: 20px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	color: var(--color-main);
	cursor: pointer;

	&.empty {
		color: var(--color-placeholder);
	}

	&.selected {
		background: #ccc3; /* TODO check with a light theme, maybe should use --color-bg-accent */
	}

	&:hover,
	&.highlighted {
		background: var(--color-focus);
	}
}
