@keyframes highlight {
	0% {
		background: #ff901900;
	}
	50% {
		background: #7a401088;
	}
	100% {
		background: #ff901900;
	}
}
.root {
	height: 100%;
}

.content {
	height: calc(100% - 30px); /* deduct header height */
	overflow: auto;
	font-size: 12px;
}

.control {
	margin: 0 1px 0 9px;
}
.control.typeAdd {
	--icon-button-bg: url('./icons/add.svg');
}
.control.typeClear {
	--icon-button-bg: url('./icons/clear.svg');
}
.control.typeStartListen {
	--icon-button-bg: #cccccc;
	--icon-button-clip: circle(34%);
}
.control.typeStopListen {
	--icon-button-bg: #eb3941;
	--icon-button-clip: circle(34%);
}

.list {
	min-width: 500px;
}
.item {
	display: block;
	position: relative;
}
.item:nth-child(odd) {
	background: #2f2f2f;
}
.item.highlighted::before {
	content: '';
	display: block;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	animation: highlight 0.6s ease-in;
}
.placeholder {
	position: relative;
	top: calc(50% - 30px);
	margin: 0;
	font-size: 12px;
	text-align: center;
	color: #7e7e7e;
}
.composeButton {
	display: block;
	margin: 20px auto 0;
}
